body {
	background-color: #000;
	color: #293264;
}
#root {
	display: flex;
}
.parent {
	margin: auto;
	width: max-content;
	height: max-content;
}
.page {
	background-color: #f5f7fb;
	display: flex;
	width: max-content;
}
.page > .container {
	width: 550px;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 10px;
	position: relative;
	overflow: hidden;
}

.page > .container-2 {
	min-width: 550px;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 10px;
	position: relative;
	overflow: hidden;
}
.page > .container::before {
	content: "";
	width: 160px;
	height: 160px;
	position: absolute;
	bottom: -22px;
	left: -42px;
	background-color: #deebf8;
	border: none;
	border-radius: 50%;
}
.page > .container::after {
	content: "";
	width: 160px;
	height: 160px;
	position: absolute;
	top: -22px;
	right: -42px;
	background-color: #fffad1;
	border: none;
	border-radius: 50%;
	z-index: 0;
}
.page > .container-2::before {
	content: "";
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -22px;
	left: -42px;
	background-color: #deebf8;
	border: none;
	border-radius: 50%;
	z-index: 0;
}
.page > .container-2::after {
	content: "";
	width: 100px;
	height: 100px;
	position: absolute;
	top: -22px;
	right: -42px;
	background-color: #fffad1;
	border: none;
	border-radius: 50%;
}
.page > .container .head {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.page > .container h1 {
	width: 70ch;
	line-height: 1.5rem;
	font-size: 2.5rem;
	margin: 0;
	padding: 0;
}
.page .start-q {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.start-b,
form button {
	color: #f5f7fb;
	background-color: #4d5b9e;
	width: max-content;
	height: max-content;
	border: none;
	border-radius: 10px;
	padding: 1em 2em;
	cursor: pointer;
	transition: 250ms ease-in-out;
}
.start-b:hover {
	box-shadow: 0px 0px 15px black;
}
form {
	display: grid;
	grid: auto / repeat(1, 1fr);
	justify-items: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	gap: 35px;
}
form > .container {
	width: 100%;
	height: 100%;
	display: grid;
	padding: 10px;
	grid: auto / repeat(1, 1fr);
	align-items: start;
}
.test-cont {
	display: grid;
	grid: auto / repeat(1, 1fr);
}
.test-cont .container {
	display: grid;
	grid: auto / repeat(1, 1fr);
	width: 100%;
	gap: 10px;
}
.test-q {
	display: grid;
	grid: auto / repeat(1, 1fr);
	width: 100%;
	padding: 0px 0px 20px 0px;
	z-index: 1;
	position: relative;
	gap: 10px;
}

.answers {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	z-index: 1;
}
.line-holder {
	width: 100;
	display: flex;
	justify-content: flex-start;
}
.line {
	width: 100%;
	background-color: #dbdef0;
	height: 1px;
}
input[type="radio" i] {
	display: none;
}
label {
	display: flex;
	width: max-content;
	height: max-content;
	padding: 4px 0.5em;
	border: 1px solid #4d5b9e75;
	border-radius: 10px;
	cursor: pointer;
}
label:hover {
	box-shadow: 0px 0px 15px #b0d1f2;
}
